.navbar { margin-bottom: 0;}


.navbar-inverse {
  /*  background-color: black;
     border : none;*/
}

.nav > li {
    width: 20%;
    text-align: center;
    font-size: 15px;
}

.nav {
    width:80%;

}